// Header area style

  .brandimage {
    height: 50px;
    width: 50px;
  } 
  .cardimage{
    height: 100px;
    width: 100px;
  }
  .profileimage{
    height: 60px;
    width: 60px;
  }
  td{
     vertical-align: middle;
    }
  
 
  

