`
<!-- <p class="p-2">ragistration-form works!</p> -->

<section class="p-3 m-5 overflow-hidden">
    <div class="container  p-2">
        <div class="h-100">
            <div class="row justify-content-center align-items-center h-100 ">
                <div class="col-12 ">
                    <div class="row">
                        <div class="col-12 text-end d-inline-block">
                              Alredy have an account? <a href="#" class="text-decoration-none">
                                <span class="fs-5">Sign In</span>
                            </a>
                        </div>
                        <div class="col-12">
                            <h5>Sign Up</h5>
                        </div>
                        <div class="col-12 mt-2">
                            <h2> Set Your profile here</h2>
                        </div>
                    </div>
                    <form class="form1">
                        <div class="row mt-5">
                        
                            <!-- first name-->
                            <div class="col-md-6 mb-1  pb-2">
                                <div class="form-floating flex-grow-1 d-flex my-3 border rounded-3">
                                    <!-- Input-field Username -->
                                    <input type="text" class="form-control border-0 " id="userName"
                                        formControlName="userName" placeholder="PASSWORD">
                                    <label class="text-secondary opacity-100" for="userName">
                                        First Name
                                    </label>
                                </div>
                            </div>
                            <!-- last name-->
                            <div class="col-md-6 mb-1  pb-2">
                                <div class="form-floating flex-grow-1 d-flex my-3 border rounded-3">
                                    <!-- Input-field Username -->
                                    <input type="text" class="form-control border-0 " id="userName"
                                        formControlName="userName" placeholder="PASSWORD">
                                    <label class="text-secondary opacity-100" for="userName">
                                        Last Name
                                    </label>
                                </div>
                            </div>
                            <!-- designantion-->
                            <div class="col-md-6 mb-1  pb-2">
                                <div class="form-floating flex-grow-1 d-flex my-3 border rounded-3">
                                    <!-- Input-field Username -->
                                    <input type="text" class="form-control border-0 " id="userName"
                                        formControlName="userName" placeholder="PASSWORD">
                                    <label class="text-secondary opacity-100" for="userName">
                                        Designantion
                                    </label>
                                </div>
                            </div>
                            <!-- Mobile number-->
                            <div class="col-md-6 mb-1 pb-2">
                                <div class="form-floating flex-grow-1 d-flex my-3 border rounded-3">
                                    <!-- Input-field Username -->
                                    <input type="text" class="form-control border-0 " id="userName"
                                        formControlName="userName" placeholder="PASSWORD">
                                    <label class="text-secondary opacity-100" for="userName">
                                        Mobile No
                                    </label>
                                </div>
                            </div>
                            <!-- institute name-->
                            <div class="col-md-12 mb-1  ">
                                <div class="form-floating flex-grow-1 d-flex my-1 border rounded-3">
                                    <!-- Input-field Username -->
                                    <input type="text" class="form-control border-0 " id="userName"
                                        formControlName="userName" placeholder="PASSWORD">
                                    <label class="text-secondary opacity-100" for="userName">
                                        institute Name
                                    </label>
                                </div>
                            </div>
                            <!-- end -->
                            <!-- Date of  Establishment-->
                            <div class="col-md-6 mb-1  pb-2">
                                <div class="form-floating flex-grow-1 d-flex my-3 border rounded-3 position-relative">
                                    <!-- Input-field Username -->
                                    <input type="text" class="form-control border-0 " id="userName"
                                        formControlName="userName" placeholder="PASSWORD">
                                    <label class="text-secondary opacity-100 " for="userName">
                                        Date of Establishment
                                    </label>
                                    <span id="eyeIcon"
                                        class="icon-coin-dollar my-2 ps-1 pt-4 fs-4 position position-absoulte  pt-2">
                                    </span>
                                </div>
                            </div>
                            <!-- gender -->
                            <div class="col-md-6 mb-4  d-flex  align-items-center">

                                <div class="form-check form-check-inline my-4 ">
                                    <input class="form-check-input" type="radio" name="inlineRadioOptions"
                                        id="femaleGender" value="option1" checked />
                                    <label class="form-check-label" for="femaleGender">Female</label>
                                </div>

                                <div class="form-check form-check-inline px-5 my-4 ">
                                    <input class="form-check-input" type="radio" name="inlineRadioOptions"
                                        id="maleGender" value="option2" />
                                    <label class="form-check-label" for="maleGender">Male</label>
                                </div>
                            </div>
                            <!-- end of the gender-->
                            <div class="col-md-6 mb-4">

                                <textarea class="form-control form-floating" rows="5" placeholder="Address"></textarea>
                            </div>

                            <div class="col-md-6 mb-4 d-flex flex-column justify-content-between">

                                <select class="form-floating form-select border rounded-3 py-3">
                                    <option value="1">State</option>
                                    <option value="2">Option 1</option>
                                    <option value="3">Option 2</option>
                                    <option value="4">Option 3</option>
                                </select>

                                <select class="form-floating form-select border rounded-3  py-3">
                                    <option value="1">City</option>
                                    <option value="2">Option 1</option>
                                    <option value="3">Option 2</option>
                                    <option value="4">Option 3</option>
                                </select>
                            </div>
                            <!-- certificate of institiue-->
                            <div class="col-md-6 mb-1  pb-2">
                                <div class="form-floating flex-grow-1 d-flex my-3 border rounded-3 position-relative">
                                    <!-- Input-field Username -->
                                    <input type="text" class="form-control border-0 " id="userName"
                                        formControlName="userName" placeholder="PASSWORD">
                                    <label class="text-secondary opacity-100 " for="userName">
                                        Certificate Of Institiue
                                    </label>
                                    <span id="eyeIcon"
                                        class="icon-coin-dollar my-2 ps-1 pt-4 fs-4 position position-absoulte  pt-2">
                                    </span>
                                </div>
                            </div>
                            <!-- degree certificateof dr.-->
                            <div class="col-md-6 mb-1  pb-2">
                                <div class="form-floating flex-grow-1 d-flex my-3 border rounded-3 position-relative">
                                    <!-- Input-field Username -->
                                    <input type="text" class="form-control border-0 " id="userName"
                                        formControlName="userName" placeholder="PASSWORD">
                                    <label class="text-secondary opacity-100 " for="userName">
                                        Degree/Certificate of Dr.
                                    </label>
                                    <span id="eyeIcon"
                                        class="icon-coin-dollar my-2 ps-1 pt-4 fs-4 position position-absoulte  pt-2">
                                    </span>
                                </div>
                            </div>
                            <!-- button cancle -->
                            <div class="col-md-6 mb-1  pb-2">
                                <div class="d-flex justify-content-end mx-1 mb-1 mb-lg-4">
                                    <button type="button" class="btn btn-outline-success px-5">Cancle</button>
                                </div>
                            </div>
                            <!-- sign up-->
                            <div class="col-md-6 mb-1  pb-2">
                                <div class="d-flex justify-content-start mx-1 mb-1 mb-lg-4">
                                    <button type="button" class="btn btn-outline-success px-5">Sign Up</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>