<!-- <p>dashboard works!</p> -->
<!-- dashborad design practice-->
<div class="p-3  h-100 overflow-auto">
    <header id="topBar">
        <div class="p-2 bg-dark d-flex justify-content-between align-items-center">

            <!-- heading-->
            <p class="text-white fs-2 my-2  ">Home</p>

            <!-- brand logo and name starts  -->
            <div class="d-flex">
                <!-- search box -->
                <!-- <div class="searchbox d-flex align-item-center">
                    <span class="icon-search"></span>
                    <input type="text" placeholder="Search for transaction, items, etc">
                    <button class="btn btn-primary" type="submit">Search</button>
                </div> -->
                <figure class="my-2">
                    <img src="../../../../../assets/images/img_avatar.jpg" class="brandimage rounded-circle"
                        alt="Brand Logo">
                </figure>
                <span class="fs-5 mx-3 my-3 text-white">Dr.Virali Patel</span>
            </div>
        </div>
    </header>

    <section class="p-4">
        <!-- section start -->
        <div class="row border">
            <!-- 1st div start -->
            <!-- <div class="col-6 border p-4">

                <h3> Hello Dr. virat, Good Morning </h3>
                <p> Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aliquid, amet.</p>

            </div> -->
            <!-- 1st div end -->
            <!-- card 2-->
            <!-- 1st div start -->
            <div class="d-flex p-3 justify-content-evenly">
                <div class="col-6 border  g-3 p-3">
                    <h3> Hello Dr. virat, Good Morning </h3>
                    <p> Lorem ipsum dolor sit amet consectetur, adipisicing elit.</p>
                </div>
                <!-- card starts-->
                <div class="d-flex justify-content-between col-6 border p-4">
                    <div class="card  d-flex mx-3" style="border-right: 1px solid;">
                        <figure style="width: 100px;">
                            <img style="max-width: 100%;" src="../../../../../assets/images/medifylogo.png"
                                class="card-img-top" alt="...">
                        </figure>
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">Lorem, ipsum.</p>
                        </div>
                    </div>
                    <div>
                        <div class="card  d-flex ">
                            <figure style="width: 80px; height: 80px;">
                                <img style="max-width: 100%;" src="../../../../../assets/images/medifylogo.png"
                                    class="card-img-top" alt="...">
                            </figure>
                            <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">Lorem, ipsum.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- section end -->
        <div class="row mt-5">
            <!-- chart start -->
            <div class="chart col-6  border">
                <h3>No. of patients</h3>
                <div class="email-container p-2 mt-3">

                    <div class="minwidth">
                        <table class="barchart" cellpadding="1" cellspacing="0">
                            <tr>
                                <td>
                                    <span class="label">50</span>
                                    <div class="bar" style="height:25%"></div>
                                </td>
                                <td>
                                    <span class="label">5000</span>
                                    <div class="bar" style="min-height:75%;max-height:75%"></div>
                                </td>
                                <td>
                                    <span class="label">5</span>
                                    <div class="bar" style="height:5%"></div>
                                </td>
                                <td>
                                    <span class="label">5</span>
                                    <div class="bar" style="height:35%"></div>
                                </td>
                                <td>
                                    <span class="label">50</span>
                                    <div class="bar" style="height:45%"></div>
                                </td>
                                <td>
                                    <span class="label">50</span>
                                    <div class="bar" style="height:20%"></div>
                                </td>
                                <td>
                                    <span class="label">5</span>
                                    <div class="bar" style="height:25%"></div>
                                </td>
                                <td>
                                    <span class="label">5</span>
                                    <div class="bar" style="height:35%"></div>
                                </td>
                                <td>
                                    <span class="label">50</span>
                                    <div class="bar" style="height:70%"></div>
                                </td>
                                <td>
                                    <span class="label">5</span>
                                    <div class="bar" style="height:35%"></div>
                                </td>
                                <td>
                                    <span class="label">5</span>
                                    <div class="bar" style="height:55%"></div>
                                </td>
                            </tr>
                            <tr>
                                <td class="fs-4">00</td>
                                <td class="fs-4">01</td>
                                <td class="fs-4">02</td>
                                <td class="fs-4">03</td>
                                <td class="fs-4">04</td>
                                <td class="fs-4">05</td>
                                <td class="fs-4">06</td>
                                <td class="fs-4"> 07</td>
                                <td class="fs-4">08</td>
                                <td class="fs-4"> 09</td>
                                <td class="fs-4">10</td>

                            </tr>
                        </table>
                    </div>

                    <br />

                </div>

            </div>
            <!-- chart end -->
            <!-- tabel start -->
            <div class="col-6">
                <div class="list-container d-flex flex-column border ">
                    <!-- heading -->
                    <div class="list-header d-flex justify-content-between p-4 border-bottom ">
                        <h2 class="fw-bolder">
                            Pharmacies
                        </h2>
                    </div>
                    <!-- end heading -->

                    <!-- table -->
                    <div class="p-3 flex-grow-1  overflow-auto">
                        <table class="table  table-borderless ">

                            <!-- table body -->
                            <tbody>
                                <tr>
                                    <td class="p-3">
                                        <figure class="d-flex mb-0 align-items-center ">
                                            <img src="../../../../../assets/images/img_avatar.jpg"
                                                class="rounded-circle profileimage mr-2" alt="profileimage">
                                        </figure>
                                    </td>
                                    <td class="fw-bold">Medicare Pharmacy</td>
                                    <td>
                                        <div>991324567</div>
                                        <small class="d-block">Valsad ,Gujrat</small>
                                    </td>

                                </tr>
                                <tr>
                                    <td class="p-3">
                                        <figure class="d-flex mb-0 align-items-center ">
                                            <img src="../../../../../assets/images/img_avatar.jpg"
                                                class="rounded-circle profileimage mr-2" alt="profileimage">
                                        </figure>
                                    </td>
                                    <td class="fw-bold">Medicare Pharmacy</td>
                                    <td>
                                        <div>991324567</div>
                                        <small class="d-block">Valsad ,Gujrat</small>
                                    </td>

                                </tr>
                                <tr>
                                    <td class="p-3">
                                        <figure class="d-flex mb-0 align-items-center ">
                                            <img src="../../../../../assets/images/img_avatar.jpg"
                                                class="rounded-circle profileimage mr-2" alt="profileimage">
                                        </figure>
                                    </td>
                                    <td class="fw-bold">Medicare Pharmacy</td>
                                    <td>
                                        <div>991324567</div>
                                        <small class="d-block">Valsad ,Gujrat</small>
                                    </td>

                                </tr>
                                <tr>
                                    <td class="p-3">
                                        <figure class="d-flex mb-0 align-items-center ">
                                            <img src="../../../../../assets/images/img_avatar.jpg"
                                                class="rounded-circle profileimage mr-2" alt="profileimage">
                                        </figure>
                                    </td>
                                    <td class="fw-bold">Medicare Pharmacy</td>
                                    <td>
                                        <div>991324567</div>
                                        <small class="d-block">Valsad ,Gujrat</small>
                                    </td>

                                </tr>
                                <tr>
                                    <td class="p-3">
                                        <figure class="d-flex mb-0 align-items-center ">
                                            <img src="../../../../../assets/images/img_avatar.jpg"
                                                class="rounded-circle profileimage mr-2" alt="profileimage">
                                        </figure>
                                    </td>
                                    <td class="fw-bold">Medicare Pharmacy</td>
                                    <td>
                                        <div>991324567</div>
                                        <small class="d-block">Valsad ,Gujrat</small>
                                    </td>

                                </tr>
                                <tr>
                                    <td class="p-3">
                                        <figure class="d-flex mb-0 align-items-center ">
                                            <img src="../../../../../assets/images/img_avatar.jpg"
                                                class="rounded-circle profileimage mr-2" alt="profileimage">
                                        </figure>
                                    </td>
                                    <td class="fw-bold">Medicare Pharmacy</td>
                                    <td>
                                        <div>991324567</div>
                                        <small class="d-block">Valsad ,Gujrat</small>
                                    </td>

                                </tr>

                            </tbody>
                            <!-- table body ends-->
                        </table>
                    </div>
                    <!-- table -->
                </div>
            </div>

        </div>
    </section>
</div>