<!-- <p>sidebar works!</p> -->

<!-- sidebar:start -->
<input type="checkbox" id="toggle">
<aside class="sidebar d-flex flex-column h-100">
    <div class="sidebar-header d-flex  align-items-center px-2 border-bottom">
        <div class="toggle-btn d-flex flex-column">
            <label for="toggle" class="line"></label>
            <label for="toggle" class="line-1"></label>
            <label for="toggle" class="line-2"></label>
        </div>
        <div class="logo">
            <h1 class="title">Angular Task</h1>
        </div>
    </div>

    <!-- user:profile:start -->
    <div class="user-profile d-flex  align-items-center px-2 border-bottom py-4">
        <div class="user-image d-flex  align-items-center">
            <figure class="mb-0">
                <img src="../../../../assets/images/img_avatar.jpg" alt="profile_image">
            </figure>
        </div>
        <div class="user-details">
            <h5>Hemali Patel</h5>
            <a href="#" class="text-info">patelhemu60@gmail.com</a>
        </div>
    </div>
    <!-- user:profile:end -->

    <!-- Navbar:start -->
    <div class="navbar-wrap d-flex flex-column d-flex justify-content-between px-3 py-4">
        <ul class="nav flex-column">

            <li class="nav-item"><a class="nav-link" appChangeColor routerLink="cdk" routerLinkActive="active-link">
                    <span class="icon icon-folder"></span>
                    <span class="nav-title ps-4  py-1 text-wrap">Cdk</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" appChangeColor routerLink="ngtemplate" routerLinkActive="active-link">
                    <span class="icon icon-folder"></span>
                    <span class="nav-title ps-4  py-1 text-wrap">Ng Templates</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" appChangeColor routerLink="customers" routerLinkActive="active-link">
                    <span class="icon icon-folder"></span>
                    <span class="nav-title ps-4  py-1 text-wrap">MVP pattern</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" appChangeColor routerLink="fileupload" routerLinkActive="active-link">
                    <span class="icon icon-folder"></span>
                    <span class="nav-title ps-4  py-1 text-wrap">File upload</span>
                </a>
            </li>
            <!-- Ragistartion -->
            <li class="nav-item ">
                <a class="nav-link" appChangeColor routerLink="RagistrationForm" routerLinkActive="active-link">
                    <span class="icon icon-folder"></span>
                    <span class="nav-title ps-4  py-1 text-wrap">RagistrationForm Pratice</span>
                </a>
            </li>
            <!-- sidebar-->
            <li class="nav-item ">
                <a class="nav-link" appChangeColor routerLink="side" routerLinkActive="active-link">
                    <span class="icon icon-folder"></span>
                    <span class="nav-title fw-bold  fs-5 ps-4  py-1 text-wrap">SideBar...</span>
                </a>
            </li>
             <!-- Medify pharmacyragistration-->
             <li class="nav-item ">
                <a class="nav-link" appChangeColor routerLink="ragistartionForm" routerLinkActive="active-link">
                    <span class="icon icon-folder"></span>
                    <span class="nav-title  fw-bold  fs-5 ps-4  py-1 text-wrap">Pharmacy ragistration</span>
                </a>
            </li>
            <!-- dashboard practice-->
            <li class="nav-item ">
                <a class="nav-link" appChangeColor routerLink="dashboard" routerLinkActive="active-link">
                    <span class="icon icon-folder"></span>
                    <span class="nav-title fw-bold fs-5 ps-4  py-1 text-wrap">Dashboard</span>
                </a>
            </li>
              <!-- input-output practice -->
              <li class="nav-item ">
                <a class="nav-link" appChangeColor routerLink="post" routerLinkActive="active-link">
                    <span class="icon icon-folder"></span>
                    <span class="nav-title  fw-bold fs-5 ps-4  py-1 text-wrap">Ng select</span>
                </a>
            </li>
               <!-- input-output practice -->
               <li class="nav-item ">
                <a class="nav-link" appChangeColor routerLink="creatprescription" routerLinkActive="active-link">
                    <span class="icon icon-folder"></span>
                    <span class="nav-title  fw-bold fs-5 ps-4  py-1 text-wrap"> +creat Prescription</span>
                </a>
            </li>

        </ul>
        <div>
            <small class="fs-5 text-start ps-4  text-muted"> <span class="icon icon-exit"> Sign-Out</span>  </small>
        </div>
    </div>
    <!-- Navbar:end -->
</aside>
<!-- sidebar:end -->

