
<!-- <ul class="pagination ">
    <li [ngClass]="{disabled:curPage == 1}" class="page-item first-item">
        <a (click)="curPage =  1" class="page-link">First</a>
    </li>

    <li [ngClass]="{disabled:curPage >= customerList.length/itemperpage}" class="page-item first-item">
        <a (click)="curPage = curPage - 1" class="page-link">Prev</a>
    </li>

    <li class="page-item" class="d-flex align-items-center"><label> Page {{curPage}} of {{ numberOfPages() }}</label>
    </li>

    <li [ngClass]="{disabled:curPage >= customerList.length/itemperpage}" class="page-item first-item">
        <a (click)="curPage = curPage + 1" class="page-link ">next</a>
    </li>
</ul> -->

<nav aria-label="..." class="m-2">

    <ul class="pagination">

        <li class="page-item" [ngClass]="{disable:currentPage === 1 && 'pagination__button--disabled'}"
        (click)="onFirstPage()">
        <a class="page-link" href="#">First</a>
    </li>
        <li class="page-item" [ngClass]="{disable:currentPage === 1 && 'pagination__button--disabled'}"
            (click)="onPreviousPage()" class="page-item first-item"> <a class="page-link" href="#">Previous</a>
        </li>
        <li class="page-item active ">
           <span class="page-link"><input class="pagination__current-page" (input)="onSetPage($event)" [value]="currentPage"></span> 
            <!--/ <label>{{allPagesNumber}}</label> -->

        </li>
        <li [ngClass]="{disable:currentPage === allPagesNumber && 'pagination__button--disabled'}"
            (click)="onNextPage()" class="page-item ">
            <a class="page-link" href="#">Next</a>
        </li>
        <li class="page-item" [ngClass]="{disable:currentPage === allPagesNumber && 'pagination__button--disabled'}"
            (click)="onLastPage()" class="page-item first-item">
            <a class="page-link" href="#">Last</a>
        </li>
    </ul>
</nav>