<!-- aside -->
<div class="h-100 position-relative ms-5 p-5">
    <aside class="sidebar d-flex flex-column h-100  position-relative">
        <div class="user-profile d-flex  align-items-center px-5  py-5">
            <div class=" user-image d-flex  align-items-center">
                <!-- medify logo-->
                <figure class="mb-0 medify-logo">
                    <img src="../../../assets/images/medifylogo.png" alt="logo">
                </figure>
            </div>
            <div class="user-details">
                <h1 class="fs-3">1Medify</h1>
            </div>
            <!--dot design-->
            <span class="circle1 "></span>
            <span class="circle2"></span>
            <span class="circle3"></span>
        </div>
    </aside>
    <!-- aisde image-->
    <figure class="navbar-wrap px-2 py-4">
        <img src="../../../assets/images/stock-vector-three-doctors-on-a-pastel-background-a-man-and-two-women-in-white-coats-medicine-hospital-1322962106.jpg"
            alt="logo" class="image1">
    </figure>
    
</div>
