.divform {
  width: 50%;
  background-color: black;
}
.toast-message {
  width: 200px;
  background: #e26782;
  color: #ffffff;
  position: absolute;
  bottom: 80px;
  border: 10px solid #e47f97;
  padding: 10px 39px;
  line-height: 20px;
  height: 20px;
}